[defaults]
# This tells Ansible to look in your local folder for modules
library = ./plugins/modules
# This removes the "No inventory was parsed" warning
inventory = localhost,

[galaxy]
server_list = release_galaxy

[galaxy_server.release_galaxy]
url=https://galaxy.ansible.com/
token=d7a8c0f3227893e2abb40cf9567a782ee683fdc6
